<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Drum Machine 2019</title>
    <meta name="description" content="An example of React.js with event listeners">
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="private">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="drum machine, React.js"/>
		<meta name="author" content="jDub Studio's">
		<meta name="robots" content="index, nofollow">
		<meta name="revisit-after" content="3 month">		
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">   
  </head>
  <body>
     <div id="root"></div>
  </body>
</html>
